body {
	background-color: gray;
	font-family: "Courier New", Courier, monospace;
	font-size: small;
}

h1{
	font-size: 20px;
}

a {
	padding-left: 20px;
	padding-right: 20px;
	color: white;
}

div {
	font-family: "Courier New", Courier, monospace;
}

input{
	font-family: "Courier New", Courier, monospace;
	font-size: smaller;
	display: inline;
}

button{
	font-family: "Courier New", Courier, monospace;
}

.loginBox{
	font-family: "Courier New", Courier, monospace;
	background-color: #4CAF50;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -75px;
	width: 350px;
	height: 100px;
	color: black;
}

.button{
	position: absolute;
	right:    0;
	bottom:   0;
}

.help{
	position: absolute;
	cursor: not-allowed;
	left:    0;
	bottom:   0;
}

.topnav {
	float: left;
	text-align: center;
	background-color: #333;
	overflow: hidden;
	display: inline;
	font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
	background-color: #ddd;
	color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
	background-color: #4CAF50;
	color: white;
}

.hiddenLayer {
	color: transparent;
}

.active {
	color: aqua;
	background-color: darkgreen;
}